//- This template displays the user-friendly page-not-found message to the page. 

extends layout.pug

block content
	h1= title
	p Sorry! We couldn't find the page you were looking for.
	br
	p
		a.button(href='/') Home
